<div class="row mb-3 d-sm-block d-none">
    <div class="col-12">
        <!-- start of banner -->
        <div class="banner-img">
            <a href="#"><img src="./Template/theme-assets/images/banner/025.gif" alt="banner"></a>
        </div>
        <!-- end of banner -->
    </div>
</div>
