@{
    ViewData["Title"] = "Index";
}

@section Breadcrumb {
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">خانه</a>
            </li>
            <li class="active">داشبورد</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
}

<p>Salam toplearn</p>
