@model SendEmailForForgotPasswordViewModel 


<div style="direction:rtl ; padding : 20px">
    <h2>کاربر گرامی</h2>
    <p>
        جهت تغییر رمز عبور روی لینک زیر کلیک فرمایید
    </p>
    <p>
        <a href="@PathExtension.DomainAddressHtttps/reset-password/@Model.ActiveCode">تغییر کلمه عبور حساب کاربری</a>
    </p>
</div>