<div class="row">
                        <div class="col-lg-4 col-sm-12 col-xs-12">
                            <div class="widget">
                                <div class="widget-header bordered-bottom bordered-themeprimary">
                                    <i class="widget-icon fa fa-tasks themeprimary"></i>
                                    <span class="widget-caption themeprimary">فهرست وظایف</span>
                                </div><!--Widget Header-->
                                <div class="widget-body no-padding">
                                    <div class="task-container">
                                        <div class="task-search">
                                            <span class="input-icon">
                                                <input type="text" class="form-control" placeholder="جستجو">
                                                <i class="fa fa-search gray"></i>
                                            </span>
                                        </div>
                                        <ul class="tasks-list">
                                            <li class="task-item">
                                                <div class="task-check">
                                                    <label>
                                                        <input type="checkbox">
                                                        <span class="text"></span>
                                                    </label>
                                                </div>
                                                <div class="task-state">
                                                    <span class="label label-yellow">
                                                        در حال انجام
                                                    </span>
                                                </div>
                                                <div class="task-time">یک ساعت پیش</div>
                                                <div class="task-body">از مدیر سیستم بخواهید پایتون 3 را روی سرور نصب و اجرا کند</div>
                                                <div class="task-creator"><a href="">بابک خرمدین</a></div>
                                                <div class="task-assignedto">منسوب به شما</div>
                                            </li>
                                            <li class="task-item">
                                                <div class="task-check">
                                                    <label>
                                                        <input type="checkbox">
                                                        <span class="text"></span>
                                                    </label>
                                                </div>
                                                <div class="task-state">
                                                    <span class="label label-orange">
                                                        فعال
                                                    </span>
                                                </div>
                                                <div class="task-time">دو ساعت پیش</div>
                                                <div class="task-body">مستندات ای پی آی جدید را همراه با تست و نحوه پیاده سازی بنویسید</div>
                                                <div class="task-creator"><a href="">بهرنگ علی فر</a></div>
                                                <div class="task-assignedto">منسوب به شما</div>
                                            </li>
                                            <li class="task-item">
                                                <div class="task-check">
                                                    <label>
                                                        <input type="checkbox">
                                                        <span class="text"></span>
                                                    </label>
                                                </div>
                                                <div class="task-state">
                                                    <span class="label label-palegreen">
                                                        تایید شده
                                                    </span>
                                                </div>
                                                <div class="task-time">دیروز</div>
                                                <div class="task-body">بازبینی کدها و نوشتن کدهای احمقانه و تست آن ها</div>
                                                <div class="task-creator"><a href="">بیل گیتز</a></div>
                                                <div class="task-assignedto">منسوب به کیم</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--Widget Body-->
                            </div>

                        </div>