<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="databox databox-xxlg databox-vertical databox-inverted">
                                <div class="databox-top bg-whitesmoke no-padding">
                                    <div class="databox-row row-2 bg-orange no-padding">
                                        <div class="databox-cell cell-1 text-align-center no-padding padding-top-5">
                                            <span class="databox-number white"><i class="fa fa-bar-chart-o no-margin"></i></span>
                                        </div>
                                        <div class="databox-cell cell-8 no-padding padding-top-5 text-align-left">
                                            <span class="databox-number white hidden-xs">بازدید صفحات</span>
                                        </div>
                                        <div class="databox-cell cell-3 text-align-right padding-10">
                                            <span class="databox-text white">13 آبان</span>
                                        </div>
                                    </div>
                                    <div class="databox-row row-4">
                                        <div class="databox-cell cell-6 no-padding padding-10 padding-left-20 text-align-left">
                                            <span class="databox-number orange no-margin">534,908</span>
                                            <span class="databox-text sky no-margin">بازدید کلی</span>
                                        </div>
                                        <div class="databox-cell cell-2 no-padding padding-10 text-align-left ">
                                            <span class="databox-number orange no-margin  hidden-xs">4,129</span>
                                            <span class="databox-text darkgray no-margin  hidden-xs">هفتگی</span>
                                        </div>
                                        <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                                            <span class="databox-number orange no-margin  hidden-xs">329</span>
                                            <span class="databox-text darkgray no-margin  hidden-xs">دیروز</span>
                                        </div>
                                        <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                                            <span class="databox-number orange no-margin   hidden-xs">104</span>
                                            <span class="databox-text darkgray no-margin  hidden-xs">امروز</span>
                                        </div>
                                    </div>
                                    <div class="databox-row row-6 no-padding">
                                        <div class="databox-sparkline">
                                            <span data-sparkline="line" data-height="126px" data-width="100%" data-fillcolor="#37c2e2" data-linecolor="#37c2e2"
                                                  data-spotcolor="#fafafa" data-minspotcolor="#fafafa" data-maxspotcolor="#ffce55"
                                                  data-highlightspotcolor="#f5f5f5 " data-highlightlinecolor="#f5f5f5"
                                                  data-linewidth="2" data-spotradius="0">
                                                5,7,6,5,9,4,3,7,2
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="databox-bottom bg-sky no-padding">
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white hidden-xs">شنبه</span>
                                        <span class="databox-header white visible-xs">ش</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white hidden-xs">یک‌شنبه</span>
                                        <span class="databox-header white visible-xs">ی</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white hidden-xs">دوشنبه</span>
                                        <span class="databox-header white visible-xs">د</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white hidden-xs">سه‌شنبه</span>
                                        <span class="databox-header white visible-xs">س</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white hidden-xs">چهارشنبه</span>
                                        <span class="databox-header white visible-xs">چ</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white hidden-xs">پنج‌شنبه</span>
                                        <span class="databox-header white visible-xs">پ</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>